[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "emacs.d"]
	path = emacs.d
	url = git://github.com/syl20bnr/spacemacs.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fzf-extras"]
	path = fzf-extras
	url = https://github.com/atweiden/fzf-extras
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
